---
import { Image } from "astro:assets";
import { formatDate } from "@utils/utils.js";
import { getLocalePath, t } from "i18n:astro";
import { handleI18nSlug } from "@astrolicious/i18n/content-collections";

// Receiving incoming props and destructuring them
const { post } = Astro.props;
const { slug } = handleI18nSlug(post.slug);
const { title, date, description, image, imageAlt } = post.data;
---

<li class="cs-item">
    <Image src={image} alt={imageAlt} class="cs-picture" />
    <div class="cs-flex">
        <span class="cs-date">{formatDate(date)}</span>
        <h3 class="cs-h3">{title}</h3>
        <p class="cs-item-text">
            {description}
        </p>
        <a href={getLocalePath(`/blog/${slug}`)} class="cs-link">
            {t("blog:readMore")}
            <img
                class="cs-arrow"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg"
                alt="icon"
                width="20"
                height="20"
                aria-hidden="true"
            />
        </a>
    </div>
</li>

<style lang="less">
    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        .cs-item {
            text-align: left;
            list-style: none;
            border-radius: (16/16rem);
            overflow: hidden;
            background-color: #f7f7f7;
            border: 1px solid #e8e8e8;
            grid-column: span 12;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: (240/16rem);
            background-color: #1a1a1a;
            border-bottom: 4px solid var(--primary);
            overflow: hidden;
            display: block;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-flex {
            height: 100%;
            padding: (24/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
        }

        .cs-date {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            margin: 0;
            padding: (8/16rem) (16/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            background-color: var(--primary);
            border-radius: (8/16rem) (8/16rem) 0 0;
            color: #fff;
            display: inline-block;
            position: absolute;
            left: (24/16rem);
            bottom: 100%;
            z-index: 2;
        }

        .cs-h3 {
            font-size: (20/16rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            margin: 0 0 (12/16rem) 0;
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 (20/16rem);
            color: var(--bodyTextColor);
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-decoration: none;
            margin-top: auto;
            color: var(--primary);
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                .cs-arrow {
                    transform: translateX(0.25rem);
                }
            }
        }

        .cs-arrow {
            width: (20/16rem);
            height: auto;
            transition: transform 0.3s;
        }
    }

    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        .cs-item {
            grid-column: span 4;
        }
    }

    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode {
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-link,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: rgba(0, 0, 0, 0.2);
                border-color: rgba(255, 255, 255, 0.2);
                &:before {
                    opacity: 0.3;
                }
            }

            .cs-picture {
                border-color: #fff;
            }

            .cs-date {
                background-color: #fff;
            }

            .cs-date {
                color: var(--primary);
            }

            .cs-arrow {
                filter: grayscale(1) brightness(1000%);
            }
        }
    }
</style>
