---
// Adapted from Starlight's Select component - https://github.com/withastro/starlight/blob/15747325112c9fe43b8dfa4e986b95cf8e66af49/packages/starlight/components/Select.astro
import { Icon } from 'astro-icon/components';
---
<label style={`--sl-select-width: ${Astro.props.width}`}>
	<span class="sr-only">{Astro.props.label}</span>
	<Icon name={Astro.props.icon} class="icon label-icon" />
	<select value={Astro.props.value}>
		{
			Astro.props.options.map(({ value, selected, label }) => (
				<option value={value} selected={selected} set:html={label} />
			))
		}
	</select>
	<Icon name="mdi--caret" class="icon caret" />
</label>

<style>
	label {
		--sl-label-icon-size: 0.875rem;
		--sl-caret-size: 1.25rem;
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		font-size: 1rem;
		position: relative;
		&:hover {
			&:before {
			width: 100%;
			}
		}

		&:before {
			/* active state underline */
			content: "";
			width: 0%;
			height: 2px;
			background: var(--primary);
			opacity: 1;
			display: block;
			position: absolute;
			bottom: 0.25rem;
			left: 0;
			transition: width 0.3s;
		}
      }
	

	.icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
		color: inherit;
		width: (15/16rem);
	}
	
	.label-icon {
		font-size: var(--sl-label-icon-size);
		inset-inline-start: 0;
	}
	
	.caret {
		transform: rotate(180deg) translateY(50%);
		transition: 0.3s;
		/* font-size: var(--sl-caret-size); */
		inset-inline-end: 0;
	}

	select {
		font-size: clamp(0.875rem,1vw,1rem);
		border: 0;
		padding-block: 0.625rem;
		padding-inline: calc(var(--sl-label-icon-size) + 0.25rem) calc(var(--sl-caret-size) + 0.25rem);
		background-color: transparent;
		text-overflow: ellipsis;
		color: inherit;
		cursor: pointer;
		appearance: none;
	}

	option {
		--color-bg-nav: #f6f7f9;
    	--color-gray-1: #23262f;
		background-color: var(--color-bg-nav);
    	color: var(--color-gray-1);
	}

	@media (min-width: 50rem) {
		select {
			font-size: 0.875rem;
		}
	}

	/* Dark Mode */
  body.dark-mode {
	label {
		color: var(--bodyTextColorWhite)
	}

	label {
		&:before {
          background-color: var(--primaryLight);
        }
	}

	option {
		background-color:  hsl(224, 14%, 16%);
    	color: hsl(224, 20%, 94%);
		padding: 1rem;
	}
  }

</style>
